/********************************************************************************
*  Copyright 2015 Conab - Companhia Nacional de Abastecimento                   *
*                                                                               *
*  Este arquivo é parte do Sistema SIAUDI.                                      *
*                                                                               *
*  SIAUDI  é um software livre; você pode redistribui-lo e/ou                   *
*  modificá-lo sob os termos da Licença Pública Geral GNU conforme              *
*  publicada pela Free Software Foundation; tanto a versão 2 da                 *
*  Licença, como (a seu critério) qualquer versão posterior.                    *
*                                                                               *
*  SIAUDI é distribuído na expectativa de que seja útil,                        *
*  porém, SEM NENHUMA GARANTIA; nem mesmo a garantia implícita                  *
*  de COMERCIABILIDADE OU ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA.                *
*  Consulte a Licença Pública Geral do GNU para mais detalhes em português:     *
*  http://creativecommons.org/licenses/GPL/2.0/legalcode.pt                     *
*                                                                               *
*  Você deve ter recebido uma cópia da Licença Pública Geral do GNU             *
*  junto com este programa; se não, escreva para a Free Software                *
*  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA    *
*                                                                               *
*  Sistema   : SIAUDI - Sistema de Auditoria Interna                            *
*  Data      : 05/2015                                                          *
*                                                                               *
********************************************************************************/
/* 
    Document   : estiloChamada
    Created on : 29/04/2013, 09:45:00
    Author     : raphael.vieira
    Description:
        Purpose of the stylesheet follows.
*/
.botaoRecomendacao {
  background-image: url("../images/adicionar_item.gif");
  background-repeat: no-repeat;
  background-position: right;
  background-color:transparent;
  width:175px;
  height:16px;
  border:0px;
  margin-top:1px;
  margin-bottom:1px;  
  cursor: pointer;
}
/* 
    Document   : estiloChamada
    Created on : 06/11/2013, 14:17
    Author     : rodrigo.borges
    Description:
       css do botão inserir risco
*/
.botaoInserir {
  background-image: url("../images/adicionar_item.gif");
  background-repeat: no-repeat;
  background-position: right;
  background-color:transparent;
  text-transform: none;
  width:120px;
  height:18px;
  border:0px;
  margin-top:1px;
  margin-bottom:1px;  
  cursor: pointer;
}

